# Visual Studio Code
.vscode/

# PowerShell
*.ps1xml

# Logs
*.log

# Temporary files
*.tmp
*.bak

# Windows
Thumbs.db
Desktop.ini

# Python
__pycache__/
*.pyc

# Environment
.env

# OS
.DS_Store
.aider*
